<section class="form my-4 mx-5">
    <div class="container">
        
        <div class="row">
            <!-- <div class="col-lg-5"> -->
                <!-- <img src="./Capture.PNG" alt="image loading" class="image-fluid"> -->
            <!-- </div> -->

            <div class="col-g-7 px-5 py-5" >
                <h1 class="font-weight-bold py-3">Sign In </h1>
                <h3> Use your account to Sign In</h3>
                <div class="form-row">
                    <div class="col-row-7 my-0.25 p-1" >
                        <label for="email">Email Address</label>
                        <input id="email"  type="email" placeholder="Email-Address" class="form-control">
                    </div>
                </div>

                <div class="form-row my-0.25 p-1" >
                    <div class="col-row-7 my-0.25 p-1">
                        <label for="password">Enter Password</label>
                        <input id="password" type="password" placeholder="*********" class="form-control">
                    </div>
                </div>

                <div class="form-row my-0.25 p-1">
                    <div class="col-row-7">
                        <button type="button" class="btn-1 " href="/register">Login</button>
                    </div>
                </div>

                <p class="my-0.25 p-1 mt-3 mb-2">Don't Have an Account? <a href="./signUpPage.html">Register Here</a></p>
            </div>
        </div>
    </div>
</section>
